<div fxLayout="row" fxLayoutAlign="end">
  <button mat-button (click)="addTeam()" *appAuth="'ADMIN'">
    <mat-icon>edit</mat-icon>
    Add Team
  </button>
</div>
<!-- <div fxLayout="row" fxLayoutAlign="space-around"> -->
<mat-progress-bar mode="query" class="mt-5" *ngIf='loading'></mat-progress-bar>

<div class="mt-5">
  <mat-table [dataSource]="teams" class="mat-elevation-z8" *ngIf="!loading && teams.length > 0">
    <!-- Position Column -->
    <ng-container matColumnDef="teamName">
      <mat-header-cell *matHeaderCellDef> Team Name</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Team Name"> {{element.teamName}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="totalElos">
      <mat-header-cell *matHeaderCellDef> Total Elos</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Total Elos"> {{element.totalElos}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef> Last Updated</mat-header-cell>
      <mat-cell *matCellDef="let element"
                data-label="Last Updated"> {{element.updatedAt | date: 'yyyy-MM-dd hh:MM:ss'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef > Action </mat-header-cell>
      <mat-cell *matCellDef="let element" > <mat-icon class="trash" (click)="delete(element)">delete</mat-icon> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"  (click)="clickableRow(row)"></mat-row>
  </mat-table>
</div>
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="!loading && teams.length <= 0">
  <img class="not-found" src="assets/data-not-found.svg">
</div>
<!-- </div> -->
