<mat-toolbar class="mat-elevation-z8">
    <div fxLayout="row wrap" fxLayoutAlign="start space-between" fxLayoutGap="10px" class="f-width px-3">
        <span>Prox Arena Manager</span>
        <nav fxLayout="row" fxLayoutGap="10px">
            <span routerLink="/users" routerLinkActive="active-route" class="nav-item" matRipple>Users</span>
            <span routerLink="/teams" routerLinkActive="active-route" class="nav-item" matRipple>Teams</span>
            <span routerLink="/auth" routerLinkActive="active-route"  class="nav-item" matRipple>Login</span>
        </nav>
    </div>

</mat-toolbar>
<div class="p-xl-5 p-xs-2">
    <router-outlet></router-outlet>
</div>
