<div fxLayout="row" fxLayoutAlign="end">
  <button mat-button (click)="addUser()" >
    <mat-icon>edit</mat-icon>Register New Player
  </button>
</div>
<!-- <div fxLayout="row" fxLayoutAlign="space-around"> -->
<mat-progress-bar mode="query" class="mt-5" *ngIf='loading'></mat-progress-bar>

  <div class="table-container mat-elevation-z8 mt-5">
    <mat-table [dataSource]="users"  *ngIf="!loading && users.data.length > 0" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="#">
        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
        <mat-cell *matCellDef="let element; let i=index" data-label="#"> {{i + 1}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="First Name"> {{element.firstName}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let element"  data-label="Last Name"> {{element.lastName}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
        <mat-cell *matCellDef="let element"  data-label="Username"> {{element.userName}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="HER" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> HER </mat-header-cell>
        <mat-cell *matCellDef="let element"  data-label="HER"> {{element.her}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="paymentStatus">
        <mat-header-cell *matHeaderCellDef> Payment Status </mat-header-cell>
        <mat-cell *matCellDef="let element"  data-label="paymentStatus" [ngClass]="element.paymentStatus ? 'text-sucess': 'text-warning'"> {{element.paymentStatus ? 'Paid': 'Not Paid'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
        <mat-cell *matCellDef="let element"  data-label="Phone Number"> {{element.phoneNumber}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="team">
        <mat-header-cell *matHeaderCellDef> Team </mat-header-cell>
        <mat-cell *matCellDef="let element"  data-label="Team"> {{element.team.teamName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="updatedAt">
        <mat-header-cell *matHeaderCellDef> Last Updated </mat-header-cell>
        <mat-cell *matCellDef="let element"  data-label="Last Updated "> {{element.updatedAt | date: 'yyyy-MM-dd hh:MM:ss'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef > Action </mat-header-cell>
        <mat-cell *matCellDef="let element" > 
          <mat-icon class="trash" (click)="delete(element)">delete</mat-icon> 
          <mat-icon [class]="element.paymentStatus ? 'update-sucess': 'update-none'" (click)="paymentStatus(element)" >attach_money</mat-icon> 
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
  <div  fxLayout="row" fxLayoutAlign="center center" *ngIf="!loading && users.data.length <= 0">
    <img class="not-found" src="assets/data-not-found.svg">
  </div>
<!-- </div> -->
