<div fxLayout="row" fxLayoutAlign="end">
  <button mat-button (click)="addUser()">
    <mat-icon>edit</mat-icon>Add User
  </button>
</div>
<!-- <div fxLayout="row" fxLayoutAlign="space-around"> -->
<mat-progress-bar mode="query" class="mt-5" *ngIf='loading'></mat-progress-bar>

  <div class="mt-5">
    <mat-table [dataSource]="users" class="mat-elevation-z8" *ngIf="!loading && users.length > 0">
      <!-- Position Column -->
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="HER">
        <mat-header-cell *matHeaderCellDef> HER </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.her}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <div  fxLayout="row" fxLayoutAlign="center center" *ngIf="!loading && users.length <= 0">
    <img class="not-found" src="assets/data-not-found.svg">
  </div>
<!-- </div> -->
