/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 960px) {
  .p-xs-2{
    padding: 1.5em;
  }
}
@media screen and (min-width: 960px) {
  .p-xl-5{
    padding: 3em;
  }
  .px-xl-3{
      padding-left: 30px;
      padding-right: 30px;
  }
}

.mat-toolbar {
  background-color: #3f51b5;
  color: #FFFFFF;
}
.trash:hover, .clear:hover{
  transition: 200ms;
  cursor: pointer;
  color: red;
}
button{
  background-color: #3f51b5 !important;
  color: #FFFFFF !important;
}

button:hover{
    cursor: pointer;
}
.mat-form-field-appearance-outline .mat-form-field-outline-start{
    border: 0.5 pt solid black !important;
}
.btn-secondary{
    background-color: #fefeef;
}
.btn-primary{
    background-color: #3d8bd4;
}
.mt-5{
    margin-top: 3rem;
}
// .f-width{
//     width: 100%;
// }
.active-route{
    color: #47fd5e;
}
.primary-bg {
  color: #FFFFFF;
  background-color: #3d8bd4;
  .mat-button{
    background-color: #3d8bd4 !important;
  }
}
.warning-bg{
  color: #FFFFFF;
  background-color: #d41a26;
  .mat-button{
    background-color: #d41a26 !important;
  }
}

.text-center{
  text-align: center;
}


@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle
  }

  .mat-table caption {
    font-size: 1em;
  }

  /*  Enable this to hide header
  .mat-table .mat-header-cell {

    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  */
  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }
  /*
  .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF}
  */
  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height:30px;
    margin-bottom: 4%;
  }
  .mat-table .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;

    font-size: .85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
    padding-right: 0px;
  }
  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
  .mat-cell:first-of-type{
    padding-left: 0px;
  }
  .mat-row::after{
    content: none;
  }
  .mat-header-row{
    display: none;
  }
}
.mat-header-row, .mat-row{
  padding: 5px 24px;
}

.nav-item{
  min-width: 64px;
  padding: 0px 25px;
}
.nav-item:hover{
  cursor: pointer;
}
.nav-item:focus{
  outline: none;
}
