/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.p-5{
    padding: 3em;
}
.px-3{
    padding-left: 30px;
    padding-right: 30px;
}
.mat-toolbar {
  background-color: #3f51b5;
  color: #FFFFFF;
}
.trash:hover{
  transition: 200ms;
  cursor: pointer;
  color: red;
}
button{
  background-color: #3f51b5 !important;
  color: #FFFFFF !important;
}

button:hover{
    cursor: pointer;
}
.mat-form-field-appearance-outline .mat-form-field-outline-start{
    border: 0.5 pt solid black !important;
}
.btn-secondary{
    background-color: #fefeef;
}
.btn-primary{
    background-color: #3d8bd4;
}
.mt-5{
    margin-top: 3rem;
}
.f-width{
    width: 100%;
}
.active-route{
    color: #47fd5e;
}
.primary-bg {
  color: #FFFFFF;
  background-color: #3d8bd4;
  .mat-button{
    background-color: #3d8bd4 !important;
  }
}
.warning-bg{
  color: #FFFFFF;
  background-color: #d41a26;
  .mat-button{
    background-color: #d41a26 !important;
  }
}

