<div fxLayout="row" fxLayoutAlign="end">
    <button mat-button class="btn-secondary" routerLink="/users">Back</button>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
    <div>
        <h2 class="text-center">Register a New User</h2>
        <form [formGroup]="myForm" (ngSubmit)="createUser()" fxLayout="column" fxLayoutGap="5px" novalidate style="width: 300px;">
            <!-- <div fxLayout="row" fxLayoutAlign="center space-evenly" fxLayoutGap="5px"> -->
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name" formControlName='firstName' required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name" formControlName='lastName'>
                </mat-form-field>
            <!-- </div> -->
            <!-- <div fxLayout="row" fxLayoutAlign="center space-evenly" fxFlex="100" fxLayoutGap="5px"> -->
                <mat-form-field appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input matInput placeholder="User Name" formControlName='userName' required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Team</mat-label>
                    <input matInput placeholder="Team Name" formControlName='teamId' [matAutocomplete]="auto" required>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)"
                                      [displayWith]="showTeam">
                        <mat-option *ngFor="let option of filteredOptions" [value]="option"  >
                            {{option.teamName}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-icon matSuffix (click)="clearTeam()" *ngIf="teamId" class="clear">clear</mat-icon>
                </mat-form-field>
            <!-- </div> -->
            <button mat-button class="btn-primary" type="submit" [disabled]='myForm.status === "INVALID"'>
                <mat-icon>save</mat-icon>Submit
            </button>
        </form>
    </div>
</div>
